<script type="text/javascript">
    $('#total').val(0);
  //  $('#field_subtotal').disabled(true);
    $("#field_reduction").keyup(function () {
        var reduc=$("#field_reduction").val();
        console.log($(this).val())
        if ($("#field_subtotal").val() >= reduc){
            $("#field_total").val($("#field_subtotal").val()-$(this).val());
        }

    });
    $("#field_vat").keyup(function () {
        var reduc=$("#field_vat").val();
        console.log($(this).val())
        if ($("#field_subtotal").val() >= reduc){
            $("#field_total").val($("#field_subtotal").val()-$(this).val());
        }

    });
    $('#form_product').change(function () {
        $.ajax({
            url: "{{ path('ordergetproduct') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                id_product: $('#form_product option:selected').val(),
            },
            success: function (data) {
                console.log(data[0])
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            }
        });
    });
    $('#add_line').click(function () {
        //   if ($('#form_quantity').val()>=)
        $.ajax({
            url: "{{ path('ordergetproduct') }}",
            type: "GET",
            dataType: "JSON",
            data: {
                id_product: $('#form_product option:selected').val(),
            },
            success: function (data) {
                //  $("#table_depart").hide();
                product = data[0];
                console.log(product)
                var qte = $('#form_quantity').val();
                if ( product.stockQuantity>=qte) {
                  //  var total = qte * product.salePrice;
                    var tauxtva= $('#form_tauxtva').val();
                    totaltva= (product.salePrice * tauxtva)/100;
                    var total = (qte * product.salePrice) + tauxtva;
                var idtd = "line_" + product.id;
                var prodid = product.id;
                var alltotal = parseFloat(total) + parseInt($('#total').val());
                //inp.val(valeur)
                $('#totaltex').text(alltotal);
                $('#total').val(alltotal);
                $('#field_subtotal').val(alltotal);

                    var table = $("#table_depart>tbody");
                    $("#table_depart>tbody:last").append("<tr id='" + idtd + "'><td><input class='checkbox hidden' type='checkbox' checked><span class='hidden'>" + product.id + "</span></td><td>" + product.name + "</td><td>" + product.salePrice + "</td><td>" + qte + "</td><td>" + tauxtva + "</td><td>" + total + "</td><td><a onclick='removeRow(" + prodid + "," + total + ")' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></a></td></tr>");
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }

            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            }
        });
    });

    function removeRow(id, total) {
        line = "#line_" + id;
        var alltotal = parseInt($('#total').val()) - total;
        //inp.val(valeur)
        $('#totaltex').text(alltotal);
        $('#total').val(alltotal);
        $(line).remove();
    }

    $('#save').click(function () {
        jsonObj = [];
        $("#table_depart>tbody input[type=checkbox]:checked").each(function () {
            var row = $(this).closest('tr')[0];
            var id = row.cells[0].children[1].innerText;
            var quantity = row.cells[3].innerText;
            var tauxtva = row.cells[4].innerText;
            item = {};
            item['quantity'] = quantity;
            item['tauxtva'] = tauxtva;
            item['id'] = id;
            jsonObj.push(item)
        });
        //console.log(JSON.stringify({data:jsonObj}))
        $.ajax({
            url: "{{ path('ordersaveproduct') }}",
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify({ob: jsonObj, customer: $('#form_customer').val(),
                entrepot: $('#form_entrepot').val(),datelivraison:$("#form_datelivraison").val(),
                status:$("#field_status").val(),methodpaiement:$("#field_method").val(),total:$('#total').val()}),
            success: function (data) {
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            }
        });
    });
    $('#create_customer').click(function () {

        item = {
            "firstname": $('#customer_name').val(),
            "lastname": $('#customer_lastname').val(),
            "website": $('#customer_website').val(),
            "phone": $('#customer_phone').val(),
            "email": $('#customer_email').val()
        };
        /*   item['name']=$('#customer_name');
           item['phone']=$('#customer_phone');
            item['email']=$('#customer_email');*/
        //console.log(JSON.stringify({data:jsonObj}))
        $.ajax({
            url: "{{ path('createcustomerajax') }}",
            type: "POST",
            dataType: "JSON",
            data: JSON.stringify({ob: item}),
            success: function (data) {
                $('#close_delete_customer').click();
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            },
            error: function (err) {
                alert("An error ocurred while loading data ...");
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            }
        });
    });
    function getItem_id(id) {
        $("#item_id").val(id);
        $("#item_name").text(id);
        swal({
                title: "Are you sure?",
                text: "Are you sure you want to delete this item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function(){
                $("#overlay").fadeIn(300);
                $.ajax({
                    url: "{{ path('order_delete_ajax') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        item_id: id,
                    },
                    success: function (data) {
                        $("#overlay").fadeOut(300);
                        swal("Deleted!", "Your item has been deleted.", "success");
                        window.location.reload(true);
                    },
                    error: function (err) {
                        $("#overlay").fadeOut(300);
                        swal("Error!", "Une erreur s'est produite: erifier les parametres.", "error");
                    }
                });

            })
    }
</script>

